<h1 class="animated fadeIn">{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date:'y'}})</small></h1>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-4">
      <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre"><br><br>
      <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Back</a>
  </div>
  <div class="col-md-8">
      <h3>{{heroe.nombre}}</h3>
      <hr>
      <p>{{heroe.bio}}</p>
      <div><img class="img-logo" [src]="heroe.casa == 'DC' ? 'https://firebasestorage.googleapis.com/v0/b/angular-html-75781.appspot.com/o/DC.png?alt=media&token=1612e5c5-b03c-4e5b-878b-910fadfbac59' : 'https://firebasestorage.googleapis.com/v0/b/angular-html-75781.appspot.com/o/Marvel.jpg?alt=media&token=9be38682-2dff-441c-ab9d-6fa82f580dbc' " alt=""></div>
  </div>
</div>